In this notebook we will clean and process the dataset with station names in it.   
This dataset is a subset stored seperate from the master dataset in order to not skew the analysis.  
Since the number of rows in this dataset accounted for only ~1.2% of the total data, I chose to subset it and perform analysis over this dataset seperately from the master dataset.

In [31]:
#loading dependencies

import pandas as pd
import os
import datetime as dt
import numpy as np

In [32]:
# loding the dataset into a dataframe

merged_statoion_df= pd.read_csv('/Users/locco/Desktop/Google_Analytics_Course/Case_Studies/Bike_share_Data/station_merged.csv')
merged_statoion_df.drop(columns='Unnamed: 0', axis = 1, inplace = True) # dropping a duplicate index column
merged_statoion_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E92C804563F261EC,classic_bike,2021-09-05 01:25:08,2021-09-05 01:35:46,Wells St & Walton St,TA1306000011,Desplaines St & Kinzie St,TA1306000003,41.899930,-87.634430,41.888716,-87.644448,casual
1,9ECA91210441E847,classic_bike,2021-09-05 13:33:41,2021-09-05 14:06:08,Larrabee St & Armitage Ave,TA1309000006,Clark St & Leland Ave,TA1309000014,41.918084,-87.643749,41.967096,-87.667429,casual
2,3DAA144C4E85E3AA,classic_bike,2021-09-04 23:00:21,2021-09-04 23:10:00,Dearborn St & Monroe St,TA1305000006,Dearborn St & Monroe St,TA1305000006,41.881320,-87.629521,41.881320,-87.629521,casual
3,53B99FE9BD0D35F8,classic_bike,2021-09-14 16:25:16,2021-09-14 16:35:03,Kingsbury St & Kinzie St,KA1503000043,Orleans St & Elm St,TA1306000006,41.889177,-87.638506,41.902924,-87.637715,casual
4,2DB60C25C8CE3591,classic_bike,2021-09-13 22:34:54,2021-09-13 22:34:58,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4588297,6AFB0C7D4D89F1B0,classic_bike,2021-05-01 15:28:11,2021-05-01 16:00:54,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.900960,-87.623777,member
4588298,187B36C368311E5B,electric_bike,2021-05-12 18:37:36,2021-05-12 18:44:13,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961521,-87.654596,41.950980,-87.659022,member
4588299,43C517C9DD4CF4B2,docked_bike,2021-05-22 17:45:09,2021-05-22 18:30:00,Clark St & North Ave,13128,Kingsbury St & Kinzie St,KA1503000043,41.911974,-87.631942,41.889177,-87.638506,casual
4588300,745191CB9F21DE3C,classic_bike,2021-05-29 16:40:37,2021-05-29 17:22:37,Sheridan Rd & Montrose Ave,TA1307000107,Michigan Ave & Oak St,13042,41.961670,-87.654640,41.900960,-87.623777,casual
4588301,E873B8AA3EE84678,docked_bike,2021-05-12 12:22:14,2021-05-12 12:30:27,Sheridan Rd & Montrose Ave,TA1307000107,Clark St & Grace St,TA1307000127,41.961670,-87.654640,41.950780,-87.659172,casual

In [33]:
merged_statoion_df.drop(columns=['start_lat','start_lng','end_lat','end_lng', 'start_station_id', 'end_station_id'], axis = 1, inplace = True)
merged_statoion_df.info()
merged_statoion_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4588302 entries, 0 to 4588301
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   end_station_name    object
 6   member_casual       object
dtypes: object(7)
memory usage: 245.0+ MB

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
end_station_name      0
member_casual         0
dtype: int64

In [34]:
# resetting index
merged_statoion_df.reset_index(drop = True, inplace= True)

In [35]:
# changing column name
merged_statoion_df.rename(columns = {'member_casual':'membership_type', 'start_station_name':'origin', 'end_station_name':'destination', 'rideable_type':'bike_type'}, inplace = True)
merged_statoion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4588302 entries, 0 to 4588301
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   ride_id          object
 1   bike_type        object
 2   started_at       object
 3   ended_at         object
 4   origin           object
 5   destination      object
 6   membership_type  object
dtypes: object(7)
memory usage: 245.0+ MB

In [37]:
# checking for unique origin and destination
unique_origin = merged_statoion_df['origin'].unique()
print(len(unique_origin))
unique_destination = merged_statoion_df['destination'].unique()
print(len(unique_destination))

842
839